.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #007bff;
    color: white;
  }
  
  .header h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .button-container {
    display: flex;
    gap: 10px;
  }
  
  .menu-button,
  .map-button,
  .edit-button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .menu-button:hover,
  .map-button:hover,
  .edit-button:hover {
    background-color: #218838;
  }

  .menu-button{
    background-color: rgb(108, 108, 108);
  }
  .menu-button:hover{
    background-color: rgb(64, 64, 64);
  }
  
  .edit-button {
    background-color: #ffc107;
  }
  
  .edit-button:hover {
    background-color: #e0a800;
  }
  