.edit-stops {
    margin: 25px;
  }
  
  .edit-stop {
    background-color: #70f982;
    border-radius: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
  
  .edit-stop:hover {
    background-color: #218838;
    transition: 0.5s ease;
  }
  
  .select-deselect-container {
    display: flex;
    justify-content: left;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .deselect-all-button,
  .select-all-button {
    padding: 10px 20px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
  }
  
  .select-all-button {
    background-color: #4caf50;
  }
  
  .deselect-all-button:hover {
    background-color: #d32f2f;
  }
  
  .select-all-button:hover {
    background-color: #388e3c;
  }
  